
.App {
  display: flex;
  height: 100vh;
}

.App > div {
  flex-basis: 100%;
  padding: 15px;
  overflow-y: auto;
}

.App > div:first-child {
  border-right: 1px solid black;
}
.App > div.loading {
  position: relative;
}
.App > div.loading::after {
  content: 'Loading';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, .9);
  display: flex;
  justify-content: center;
  align-items: center;
}